{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{{ task.title }}</h1> Dodane przez {{ task.addedBy.profileName }} <i>({{ task.createdAt | date("Y-m-d H:i:s") }})</i><br />
        Status: {{ task.status }}<br />
        Priorytet: {{ task.priority }}<br />
        {% if task.takenBy is empty %}
            Zadanie podjęte przez: <i>brak</i><br />
        {% else %}
            Zadanie podjęte przez: <i>{{ task.takenBy.profileName }}</i><br />
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="dropdown d-inline float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opcje
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if task.status == "Działania zakończone" %}
                        <a href="{{ url("back_task", {"id" : task.id}) }}" class="dropdown-item">Przywróć do aktywnych</a>
                    {% endif %}
                    {% if task.takenBy is empty %}
                        <a href="{{ url("take_task", {"id" : task.id}) }}" class="dropdown-item">Podejmij działanie</a>
                    {% endif %}
                    {% if task.status != 'Działania zakończone' %}
                        <a href="{{ url("end_task", {"id" : task.id}) }}" class="dropdown-item">Zakończ</a>
                    {% endif %}

                    <a href="{{ url("delete_task", {"id" : task.id}) }}" class="dropdown-item">Usuń</a>
                </div>
            </div>
        {% endif %}
        <br />
        <p class="lead">{{ task.description }}</p>

        <hr class="my-4">

        Komentarze:<br/>
        <div class="float-right">
            {% if is_granted('ROLE_ADMIN') or task.addedBy == app.user %}
                <a href="{{ url("comment_add", {"task" : task.id, "user" : app.user.id}) }}" class="btn btn-primary">Dodaj komentarz</a>
            {% endif %}
        </div>
        {% for comment in getCollection(task) %}
            {{ comment.description }} //Dodane przez: <b>{{ comment.user.profileName }}</b><i>  ({{ comment.updatedAt | date("Y-m-d H:i:s") }})</i><br />
        {% endfor %}
    </div>

{% endblock %}

